@using Busticketsales.Utilities;
@model Busticketsales.Models.Customer;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main container-xxl py-5 d-flex flex-column align-items-center">
    <div class="pagetitle">
        <h2 class="text-success"> Thông tin tài khoản cá nhân</h2>
    </div>
    <section class="section dashboard">
        <div class="row">
            <form asp-controller="InforCustomer" asp-action="Edit">
                <div class="col-12">
                    <div class="col-12 d-none">
                        <label class="form-label" asp-for="CustomerID">CustomerID</label>
                        <input type="text" asp-for="CustomerID" class="form-control">
                    </div>
                    <div class="col-12 d-none">
                        <label class="form-label" asp-for="IsActive">hiển thị</label>
                        <input type="text" asp-for="IsActive" class="form-control" value="true">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Họ và Tên *</label>
                        <input type="text" asp-for="FullName" class="form-control">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Địa chỉ Email</label>
                        <input type="text" asp-for="Email" class="form-control">
                    </div>
                    <div class="col-12 d-none">
                        <label class="form-label">sđt</label>
                        <input type="text" asp-for="SĐT" class="form-control" value="@Functions._SĐT">
                    </div>
                    <div class="col-12 d-none">
                        <label class="form-label ">Images</label>
                        <input type="text" asp-for="Images" value="@Functions._Images" class="form-control">
                    </div>

                    <div class="col-12" style="Padding:10px 0px">
                        <label class="text-warnning">Thay đổi mật khẩu</label>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Nhập mật khẩu cũ</label>
                        <input type="text" asp-for="Password" value="" class="form-control">
                    </div>
                    <div class="col-12 text-center text-info">
                        <h6 class="text-info">
                            @Functions._Messager
                        </h6>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Mật khẩu mới(bỏ trống nếu không thay đổi)</label>
                        <input type="text" asp-for="Password" name="PasswordNew" value="" class="form-control">
                    </div>
                    <div class="col-12 mt-4">
                        <button class="btn btn-primary w-100" type="submit">Lưu Thay Đổi</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>


