@using Busticketsales.Models;
@using Busticketsales.Utilities;
@model IList<BookingOrder>;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-size:1rem; text-align:center;">Không có chuyển xe nào</h1>