@using Busticketsales.Utilities;
@model Busticketsales.Models.ContactQuality;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<main id="main" class="main">
    <div class="pagetitle">
        <h2>Chỉnh sửa </h2>
    </div>
    <!-- Begin Form-->
    <form asp-action="Edit" method="post">
        <div class="form-group col-md-6">
            <input type="text" class="form-control mb-3" asp-for="ContactQualityID" hidden />
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Title">Tiêu đề</label>
            <input type="text" class="form-control mb-3" asp-for="Title" />
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Phone">số điện thoại</label>
            <input type="text" class="form-control mb-3" asp-for="Phone" />
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Images">Images</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-success" type="button" onclick="openDialog()">Choose a pic</button>
                </div>
                <input type="text" class="form-control" asp-for="Images" id="file_input" aria-describedby="button-addon2" />
            </div>
        </div>
        <div class="form-group col-md-6 mt-3 mb-3">
            <label>
                @Html.CheckBox("IsActive", false)
                Hiển thị
            </label>
        </div>
        <div class="form-group d-none">
            <input asp-for="ContactOrder" class="form-control" value="1" />
        </div>
        <div class="form-group d-none">
            <input asp-for="Position" class="form-control" value="2" />
        </div>
        <div class="form-group d-none">
            <input asp-for="Status" class="form-control" value="1" />
        </div>
        <a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i> Quay lại
        </a>
        <button type="submit" class="btn btn-lg btn-danger p-2">
            <i class="bi bi-trassh-fill"></i> Lưu lại
        </button>
    </form>
    <!-- End Form-->
</main>
@{
    var summerNote = new Busticketsales.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNote" model="summerNote" />
}
