@using Busticketsales.Models;
@using Busticketsales.Utilities;
@model IList<Post>


<div class="col-lg-4">

    <!-- Recent Post Start -->
    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
        <div class="section-title section-title-sm position-relative pb-3 mb-4">
            <h3 class="mb-0">Xem Thêm</h3>
        </div>
        <ul class="list-recent">
            @foreach(var r in Model)
            {
                string url = Functions.TitleSlugGeneration("Post", r.Title, r.PostID);
                <li class="recent-item">
                    <a href="/@url" class="recent-link">@r.Title</a>
                </li>
            }
            
        </ul>
    </div>
    <!-- Recent Post End -->

</div>
