@using Busticketsales.Models;
@model IList<ContactQuality>

<!-- Quality Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-uppercase">Cam Kết Chất Lượng</h5>
            <h1 class="mb-0">Bộ tiêu chuẩn nhà xe Bình An</h1>
        </div>
        <div class="row g-5">
            @foreach(var q in Model)
            {
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">

                    <div class="team-item  rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="@q.Images" alt="">
                        </div>
                        <div class="text-center py-4">
                            <h4 class="service-title">@q.Title</h4>
                            <p class="service-desc text-uppercase m-0">@q.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Team End -->